body {
    
    background-image: url(../img/unsplash_qtDQy1Crgcc.jpg); 
    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */

    background-position: center center;

    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: cover;

    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */

}

.top{
    /*opacity: 0.8;*/
    background-color: rgba(0, 0, 0, 0.50); 
    display: flex;
    align-items: center;
}
.lista-nav{
    /*opacity: 1;*/
    
    background-color: rgba(22, 141, 141, 0.5);
    margin: 10px;
}

li {
    background-color: rgb(27, 113, 194);
    list-style: none;
    margin-right: 15px ;
    display: inline-block;
    
    color: aliceblue;
}

div {
    color: aliceblue;
}