/*HEDER*/
.page_header {
    background-color: rgba(255, 255, 255, 0.895);
    position: sticky;
    top: 0;
    z-index: 110;
    border-bottom: solid 1.5px rgb(185, 185, 185);
}

.navigation_content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.navbar .nav_menu {
    display: flex;
    gap: var(--spacing-12);
}

.logo {
    object-fit: contain;
    width: 50px;
    height: 45px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    gap: 0.6rem;
    padding: 0.4rem;
    border: none;
}

.hamburger>div {
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all .3s;
    transform-origin: left;
    background-color: black;
}

.active_hamburger_line1 {
    transform: rotate(45deg);
}

.active_hamburger_line2 {
    opacity: 0;
}

.active_hamburger_line3 {
    transform: rotate(-45deg);
}


.page_header .navbar .nav_menu .navbar_Item {
    font-size: medium;
    font-weight: 500;
}

.container_user_section {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
}

.page_header .user_section {
    font-weight: 500;
    font-size: smaller;
    color: rgb(56, 97, 251);
    padding: 0.2rem 0.6rem;
    border: solid 2px rgb(56, 97, 251);
    border-radius: 0.5rem;
    opacity: 90%;
}

.page_header #sing_up {
    color: #ffffff;
    background: rgb(56, 97, 251);
}

#profile {
    display: none;
}
.user_section:hover{
    opacity: 100%;
}

.nav_menu .nav_menu_item a:hover {
    font-weight: 600;
    color: #3861fb;
}

@media (max-width: 767px) {
    .hamburger {
        display: flex;
    }

    .navbar .nav_menu {
        flex-direction: column;
    }

    .navigation_content {
        left: 0;
        flex-direction: column;
        position: fixed;
        background-color: rgb(255, 255, 255);
        justify-content: flex-start;
        top: 64px;
        height: 100%;
        left: 100%;
        transition: left 0.5s;
    }

    .nav_menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav_menu {
        padding: 2rem 0;
    }
    .page_header .user_section {
        font-size: large;
    }

    .page_header .navbar .nav_menu .navbar_Item {
        font-size: large;
    }

    .container_user_section {
        flex-direction: column;
        width:95%;
        text-align: center;

        margin: 0;
    }

    .navigation_content_visible {
        left: 0;
    }
}