:root {
    /* Palette */
    /**/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(65, 165, 211, 0.83);
    --secondary-500: rgba(72, 184, 235, 0.806);
    --secondary-300: rgb(59, 160, 207);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-light-transparent:#e1e1e172;
    --dark-light-solid: #bbbb;
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;
    --ligth-bg2-solid: #e9e5e5;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 2.0em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-5: 0.5rem;
}

/*CSS PREDERMINADOS*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    color: var(--dark-solid);
}

span {
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: var(--dark-solid);
    cursor: pointer;
}

.page_header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
}

input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}

.conteiner {
    max-width: 1200px;
    margin:0 auto;
    padding: 0 1rem;
}

/*CSS PREDERMINADOS*/

/*HEDER*/
.page_header {
    background-color: rgba(255, 255, 255, 0.895);
    position: sticky;
    top: 0;
    z-index: 110;
    border-bottom: solid 1.5px rgb(185, 185, 185);
}

.navbar {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.navbar .navbar_menu {
    display: flex;
    gap: var(--spacing-12);
}


.logo {
    object-fit: contain;
    width: 50px;
    height: 45px;
}

.page_header .navbar .navbar_menu .navbar_Item {
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 510;
}
.container_user_section {
    display: flex;
    gap: 0.5rem;
}
.page_header .user_section {
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(56, 97, 251);
    padding:0.2rem 0.6rem;
    border: solid 2px rgb(56, 97, 251);
    border-radius: 1.2rem;
}
.page_header #sing_up {
    color: #ffffff;   
    background: rgb(56, 97, 251);
    border: none;
}
/*cambiar a display block cuando se inicia sesion o se regitro*/
#profile{
    display: block;
}

.page_header  .user_section:hover {
    transform: scale(1.05);
}

.navbar_menu a:hover {
    font-weight: 600;
    color: #3861fb;
}

/*HEDER*/

/*AVISOS*/
.notices_posters{
    padding-bottom: 3rem;

}
#notices {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 950px;
    max-width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 15px;
}

#notices input[type=radio] {
    display: none;
}


#notice_poster label {
    cursor: pointer;
    text-decoration: none;
}

#notices_container {
    position: relative;
    z-index: 1;
    overflow: hidden;
}


#notice1:checked~#notices_container .inner_container {
    margin-left: 0;
}

#notice2:checked~#notices_container .inner_container {
    margin-left: -100%;
}

#notice3:checked~#notices_container .inner_container {
    margin-left: -200%;
}

#notice4:checked~#notices_container .inner_container {
    margin-left: -300%;
}

#notices_container .inner_container {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: auto;
    display: flex;
}

#notices_container .notice_wrapper {
    width: 25%;
    display: flex;
    flex-shrink: 0;
    min-height: 250px;
}

.notice_wrapper {
    position: relative;
    text-align: center;
}

.notice_wrapper img {
    display: block;
    height: auto;
    max-height: 400px ;
}

.notice_text {
    position: absolute;
    top: 50%;
    width: 30%;
    height: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0;
}

.notice_link {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border: solid var(--light-bg-solid);
    background-color: transparent;
    color: var(--light-bg-solid);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.notice_text h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.8rem;
}

.text_notice_conteiner {
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    width: 50%;
    top: 50%;
    left: 25%;
    z-index: 110;
    background: linear-gradient(80deg, rgb(0 0 0) 20%, rgb(0 0 0 / 53%) 50%, rgb(0 0 0 / 8%) 80%);
    clip-path: polygon(0 0, 39% 0, 82% 100%, 0% 100%);
}


#labels_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1.6rem;
    left: 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    gap: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
    z-index: 100;
    border-radius: 1rem;
    align-content: center;
}

#labels_container label {
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    border-radius: 20%;
    background: #959595cb;
}

#labels_container label:hover {
    scale: 1.2;
}

#notice1:checked~#labels_container label:nth-child(1),
#notice2:checked~#labels_container label:nth-child(2),
#notice3:checked~#labels_container label:nth-child(3),
#notice4:checked~#labels_container label:nth-child(4) {
    background: #ffffff;
}

.notice_link:hover {
    scale: 1.1;
    left: 27%;
}

/*AVISOS*/
/*AUTOS POR MARCA*/
.car_by_brand {
    padding: 2rem 0;
    background-color: #e1e1e175;
}

.select_brand_text {
    text-align: center;
    padding: 10px 0;
}

#slider_logo {
    padding: 10px 0;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    background-color: #ffffff;
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 15px;
}

#slider_logo input[type=radio] {
    display: none;
}

#controls {
    margin: -80px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    width: 50px;
    height: 50px;
    opacity: 0.4;
}

#controls label:hover {
    opacity: 1;
}

#slider_logo label {
    cursor: pointer;
    text-decoration: none;
}

#slides_logo {
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.slide-content {
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.conteiner_brand {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.conteiner_brand:hover {
    scale: 1.2;
}

#slide_logo1:checked~#slides_logo .inner {
    margin-left: 0;
}

#slide_logo2:checked~#slides_logo .inner {
    margin-left: -100%;
}

#slide_logo3:checked~#slides_logo .inner {
    margin-left: -200%;
}

#slide_logo4:checked~#slides_logo .inner {
    margin-left: -300%;
}

#slides_logo .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: auto;
    display: flex;
}

#slides_logo .slide_logo {
    width: 25%;
    display: flex;
}


#bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    padding: 10px 0 0 0;

}

#bullets label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #949494;
}

#bullets label:hover {
    scale: 1.2;
}

#slide_logo1:checked~#bullets label:nth-child(1),
#slide_logo2:checked~#bullets label:nth-child(2),
#slide_logo3:checked~#bullets label:nth-child(3),
#slide_logo4:checked~#bullets label:nth-child(4) {
    background: #000000;
}


/*AUTOS POR MARCA*/

/*GRID AUTOS POR TIPO CARROCERIA*/
.car_body_type {
    background-color: #ffffff;
}

.grid_container {
    margin: 2rem 0;
    width: 100%;
}

.car_body_type_title {
    text-align: center;
    padding: 2rem 0;
}

.grid_container_content {
    width: 100%;
}

.grid_col {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1.5rem;
}

.segment_content {
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
}

.segment_content img {
    height: 70%;
}

.segment_content:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px 6px #0e007a41;
}

/*GRID AUTOS POR TIPO CARROCERIA*/

/*AUTOS NUEVOS*/
.new_cars{
    background-color:#e1e1e175;
    padding: 1rem 0;
}
.title_conteiner {
    margin: 2rem 0;
    text-align: center;
}

.title_new_auto {
    text-align: center;
    margin: 1rem 0;
}

.compare_ref {
    text-align: center;
    border-radius: 1rem;
    border: solid black;
}


.car_cards_conteiner {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-12);
}

.card {
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--light-bg-solid);
}

.card:hover {
    box-shadow: 5px 10px 20px #00000014;
    transform: scale(1.03);
}

.card_info {
    padding: 0.5rem 0;
    display: grid;
    justify-content: center;
}

.new_cars .card .card_price {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000000;
}

.card_title {
    padding: 0.5rem 0;
}

#at1,
#at2,
#at3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*COMPARE CAR*/

.compare_car {
    margin: 3rem 0;
    position: relative;
    text-align: center;
}

.compare_text {
    padding: 1rem;
}

.compare_car_conteiner {
    width: 75%;
    max-width: 1000px;
    display: flex;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color:var(--dark-light-transparent);
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 2rem;
}

.compare_conteiner_img {
    display: flex;
    justify-content: center;
}

.compare_conteiner_img img {
    width: 50%;
}

.compare_select_info_link {
    padding: 0.5rem;
    border: solid var(--light-bg-solid);
    background-color: transparent;
    color: var(--light-bg-solid);
    font-family: Arial, Helvetica, sans-serif;
}

.compare_info_container {
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, rgb(0 0 0 / 10%) 42%, rgb(0 0 0 / 60%) 47%, rgb(0 0 0) 50%, rgb(0 0 0 / 60%) 53%, rgb(0 0 0 / 10%) 58%, rgba(0, 0, 0, 0) 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 51%, 75% 100%, 35% 100%, 35% 50%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare_car_conteiner .compare_select_info_link:hover {
    scale: 1.1;
}

/*COMPARE CAR*/

/*FOOTER*/
.footer_page {
    background-color: #000000;
    padding: 1.5rem 0 1rem 0;
}

.footer_page .footer_section .fotter_column li a {
    color: #bbbb;
}

.footer_section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.footer_section .fotter_column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer_column_title {
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-bg-solid);
    margin-bottom: 0.8rem;
}

.footer_section_social {
    text-align: center;
    padding: 0.5rem 0;
}

.social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    gap: var(--spacing-12);
}

.footer_page .social_links a,
.footer_page .footer_section_social span {
    color: #bbbb;
}

.social_links li a {
    font-size: 1.5rem;
}

.footer_section .logo_conteiner .logo {
    width: 90px;
    height: 70px;
}

.footer_section .logo_conteiner:hover {
    scale: 1.2;
}

.footer_page .footer_section .fotter_column li a:hover {
    color: var(--light-bg-solid);
}

.social_links .social_fb:hover {
    color: #4889d4;
}

.social_links .social_tw:hover {
    color: var(--light-bg-solid);
}

.social_links .social_yt:hover {
    color: #d61111;
}

/*FOOTER*/