@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/styles.css);



/*HEDER*/

/*cambiar a display block cuando se inicia sesion o se regitro*/

#profile{
    display: block;
}




/*HEDER*/



/* Container principal Perfil */


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Parte esquerda (foto do usuário) */

  
  .left {
    flex: 1;
    text-align: center;
  }
  
  .foto_usuario {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
    
}
  
  /* Parte direita (informações de perfil e actualizar datos) */

  .right {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction:column;
    
}
  
  #perfil {
    
    text-align: left;
    background-color: gainsboro;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .info_perfil a {
    color: #3861fb;
    font-size: 15px;
    
}


/* FIN PERFIL*/



/*FAVORITOS*/

.favoritos{
    background-color:#e1e1e175;
    padding: 1rem 0;
}
.title_conteiner {
    margin: 2rem 0;
    text-align: center;
}

.title_favoritos {
    text-align: center;
    margin: 1rem 0;
}


.car_cards_conteiner {
    
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-12);
}

.card {
    
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--light-bg-solid);
    
    
    
    
}

.card:hover {
    box-shadow: 5px 10px 20px #00000014;
    transform: scale(1.03);
}


.card_info {
    padding: 0.5rem 0;
    display: grid;
    justify-content: center;
    
}
.card_info a {
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color:#3861fb;
}

.favoritos .card .card_price {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000000;
    
    
}

.card_title {
    padding: 0.5rem 0;
}

.img_at {

    padding: 0 1rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1.5rem;

}

.card_info {

    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 1rem;
    text-align: center;
    align-items: center;

    

}



/*FIN FAVORITOS*/







/*----------------------------INICIO MEDIA PARA DESKTOP----------------------------------------------------*/




@media screen and (max-width: 1024px ) {


    
    .conteiner {
        max-width: 100%;
        margin:0 auto;
        padding: 0 1rem;
    }
    
    
}

/*----------------------------FIN MEDIA PARA DESKTOP----------------------------------------------------*/

@media screen and (min-width: 767px) and (max-width: 1023px) {

      
       
    
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
      }
      
      /* Parte esquerda (foto do usuário) */
    
      
  
      
      #perfil {       
        
        font-size: 14px;
        
    }
    
      .info_perfil a {
        color: #3861fb;
        font-size: 13px;
        
    }
    
    }


    /* -------------------- FIN MEDIA TABLET---------------------------------------------*/
    
    
    
/* ----------------------INICIO MEDIA MOBILE ----------------------------------------------*/

@media screen and (max-width: 767px) {

    .conteiner {
        max-width: 100%;
        margin:0 auto;
        padding: 0 1rem;
    }
    



    .foto_usuario {
        width: 100%;
        height: none;
        object-fit: cover;

    }

    #perfil h1 {
              
        font-size: 15px;
        
    }
    
    .info_perfil p {
        font-size: 11px;
        
    }


    .info_perfil a {
        color: #3861fb;
        font-size: 10px;
        
    }
    


    .title_conteiner {
        
        font-size: 10px;
    }
    

  

    .card_info h5 {
    
        font-size: 9px;
        text-align: center;
    }

    .car_price  {
        font-size: 9px;
        text-align: center;
    }

    .car_cards_conteiner {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 1.5rem;
    }
    
   
    .card_info a {        
        font-size: 8px;
    }




   
}

/* ----------------------FIN MEDIA MOBILE ----------------------------------------------*/