@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/styles.css);



/*HEDER*/

/*cambiar a display block cuando se inicia sesion o se regitro*/

#profile{
    display: block;
}




/*HEDER*/



/* Container principal Perfil */


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Parte esquerda (foto do usuário) */

  
  .left {
    flex: 1;
    text-align: center;
  }
  
  .foto_usuario {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
    
}
  
  /* Parte direita (informações de perfil e actualizar datos) */

  .right {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction:column;
    
}
  
  #perfil {
    
    text-align: left;
    background-color: gainsboro;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .info_perfil a {
    color: #3861fb;
    font-size: 15px;
    
}


/* FIN PERFIL*/



/*FAVORITOS*/

.favoritos{
    background-color:#e1e1e175;
    padding: 1rem 0;
}
.title_conteiner {
    margin: 2rem 0;
    text-align: center;
}

.title_favoritos {
    text-align: center;
    margin: 1rem 0;
}


.car_cards_conteiner {
    
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-12);
}

.card {
    
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--light-bg-solid);
    
    
    
    
}

.card:hover {
    box-shadow: 5px 10px 20px #00000014;
    transform: scale(1.03);
}


.card_info {
    padding: 0.5rem 0;
    display: grid;
    justify-content: center;
    
}
.card_info a {
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color:#3861fb;
}

.favoritos .card .card_price {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000000;
    
    
}

.card_title {
    padding: 0.5rem 0;
}

.img_at {

    padding: 0 1rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1.5rem;

}

.card_info {

    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 1rem;
    text-align: center;
    align-items: center;

    

}



/*FIN FAVORITOS*/







/*----------------------------INICIO MEDIA PARA DESKTOP----------------------------------------------------*/




@media screen and (max-width: 1024px ) {


    
    .conteiner {
        max-width: 100%;
        margin:0 auto;
        padding: 0 1rem;
    }
    
    
}

/*----------------------------FIN MEDIA PARA DESKTOP----------------------------------------------------*/

@media screen and (min-width: 767px) and (max-width: 1023px) {

      
       
    
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
      }
      
      /* Parte esquerda (foto do usuário) */
    
      
  
      
      #perfil {       
        
        font-size: 14px;
        
    }
    
      .info_perfil a {
        color: #3861fb;
        font-size: 13px;
        
    }
    
    }


    /* -------------------- FIN MEDIA TABLET---------------------------------------------*/
    
    
    
/* ----------------------INICIO MEDIA MOBILE ----------------------------------------------*/

@media screen and (min-width: 376px) and (max-width: 767px) {

    .conteiner {
        max-width: 100%;
        margin:0 auto;
        padding: 0 1rem;
    }
    

        /*HEADER*/
    
        .page_header {
            background-color: rgba(255, 255, 255, 0.895);
            position: sticky;
            top: 0;
            z-index: 110;
            border-bottom: solid 1.5px rgb(185, 185, 185);
        }
        
        .navbar {
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
        .logo_conteiner {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            
        }
        
        .navbar .navbar_menu {
            display: flex;
            gap: var(--spacing-12);
        }
        
        
        .logo {
            object-fit: contain;
            width: 50px;
            height: 45px;
        }
        
        .page_header .navbar .navbar_menu .navbar_Item {
            font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 10px;
            font-weight: 510;
        }
        .container_user_section {
            display: flex;
            gap: 0.5rem;
        }
        .page_header .user_section {
            font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            font-size: 10px;
            color: rgb(56, 97, 251);
            padding:0.2rem 0.6rem;
            border: solid 2px rgb(56, 97, 251);
            border-radius: 1.2rem;
        }
        .page_header #sing_up {
            color: #ffffff;   
            background: rgb(56, 97, 251);
            border: none;
        }
        
        
        /*cambiar a display block cuando se inicia sesion o se regitro*/
        
        
        #profile{
            display: block;
        }
        
        .page_header  .user_section:hover {
            transform: scale(1.05);
        }
        
        .navbar_menu a:hover {
            font-weight: 600;
            color: #3861fb;
        }
        
        /*HEDER*/

    .foto_usuario {
        width: 100%;
        height: none;
        object-fit: cover;

    }

    #perfil h1 {
              
        font-size: 15px;
        
    }
    
    .info_perfil p {
        font-size: 11px;
        
    }


    .info_perfil a {
        color: #3861fb;
        font-size: 10px;
        
    }
    


    .title_conteiner {
        
        font-size: 10px;
    }
    

  

    .card_info h5 {
    
        font-size: 9px;
        text-align: center;
    }

    .car_price  {
        font-size: 9px;
        text-align: center;
    }

    .car_cards_conteiner {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 1.5rem;
    }
    
   
    .card_info a {        
        font-size: 8px;
    }




    /* INICIO FOOTER*/
 
    .footer_section .fotter_column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .footer_column_title {
        font-weight: 400;
        font-size: 10px;
        color: var(--light-bg-solid);
        margin-bottom: 0.8rem;
    }
    
    .footer_section_social {
        text-align: center;
        padding: 0.5rem 0;
        font-size: 10px;
    }
    
    .social_links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
        gap: var(--spacing-12);
        
    }

   

    .footer_page li a {
        font-size: 10px;
    }
    
  
    
    .footer_page .social_links a,
    .footer_page .footer_section_social span {
        color: #bbbb;
    }
    
    .social_links li a {
        font-size: 1.5rem;
    }
    
    .footer_section .logo_conteiner .logo {
        width: 50px;
        height: 40px;
    }
    
    .footer_section .logo_conteiner:hover {
        scale: 1.2;
    }
    
    .footer_page .footer_section .fotter_column li a:hover {
        color: var(--light-bg-solid);
    }
    
    .social_links .social_fb:hover {
        color: #4889d4;
    }
    
    .social_links .social_tw:hover {
        color: var(--light-bg-solid);
    }
    
    .social_links .social_yt:hover {
        color: #d61111;
    }
    
    /*FOOTER*/

   
}

/* ----------------------FIN MEDIA MOBILE ----------------------------------------------*/