* , *::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

header {
    width: auto;
    height: 70px;    
    background-color: rgba(0, 0, 0, 0.50);

}



/* barra negagacion */


.marca {
    width: 60px;
    height: 70px;
    float: left;


}

#botonera_perfil {
    
    width: 600px;
    height: 70px;
    float: right;
    margin-top: 20px;

}

#botonera_perfil ul {
    margin: 0;
    padding: 0;

}

#botonera_perfil ul li {
    display: inline;
}

#botonera_perfil ul li a {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: line;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#botonera_perfil ul li a:hover {
    background-color: rgba(0, 0, 0, 0.075);
    color: rgb(255, 255, 255);
}



/* barra negagacion */



/* perfil */

.foto_usuario {
    width: 250px;
    height: auto;
    margin: 100px 0 10px 500px;
    text-align: left;    
    z-index: auto;


}

#profile h1 {
    text-align: right;
    margin: 10px 0 0 100px;


}

#profile {
    width: 700px;
    height: 300px;
    text-align: right;
    margin: -210px auto 150px auto;
    box-sizing: border-box;

}



#info_perfil {
    background-color: gainsboro;
    margin: 10px auto 0 250px;    
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-sizing: border-box;
}


.actualizar_datos {
    margin: -290px 0 0 500px;

}

.coluna {

    width: 300px;
    height: auto;
    align-items: center;
    padding: 5px;


}


/* fin perfil */


/* favoritos */

p {
    color: black;
    text-align: center;

}


#favoritos {

    width: 960px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    display: grid;
}




    #auto_1{
        
        width: 315px;
        height: 200px;
        display: inline;
        margin-right: auto;
        margin-left: auto;
        border-radius: 16px ;
        -webkit-border-radius: 16px ;
        -moz-border-radius: 16px ;
        -ms-border-radius: 16px ;
        -o-border-radius: 16px ;
        box-sizing: border-box;
        
    }
    
    
    
    #auto_2{
        width: 315px;
        height: 200px;
        display: inline;
        margin-right: auto;
        margin-left: auto;
        border-radius: 16px ;
        box-sizing: border-box;
    }
    
    #auto_3{
        width: 315px;
        height: 200px;
        display: inline;
        margin-right: auto;
        margin-left: auto;
        border-radius: 16px ;
        box-sizing: border-box;
    }
    
    #auto_4{
        width: 315px;
        height: 200px;
        display: inline;
        margin-right: auto;
        margin-left: auto;
        border-radius: 16px ;
        box-sizing: border-box;
    }
    
    #auto_5{
        width: 315px;
        height: 200px;
        display: inline;
        margin-right: auto;
        margin-left: auto;
        border-radius: 16px ;
        box-sizing: border-box;
    }
    
    #auto_6{
        width: 322px;
        height: 200px; 
        display:inline;
        margin-right: auto;
        margin-left: auto;
        border-radius: 16px ;
        box-sizing: border-box;
    }
    

/* fin favoritos */





/* FOOTER */

.page_header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}


.footer_page {
    background-color: #000000;
    padding: 1.5rem 0 1rem 0;
}

.footer_page .footer_section .fotter_column li a {
    color: #bbbb;
}

.footer_section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.footer_section .fotter_column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer_column_title {
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-bg-solid);
    margin-bottom: 0.8rem;
}

.footer_section_social {
    text-align: center;
    padding: 0.5rem 0;
}

.social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    gap: var(--spacing-12);
}

.footer_page .social_links a,
.footer_page .footer_section_social span {
    color: #bbbb;
}

.social_links li a {
    font-size: 1.5rem;
}

.footer_section .logo_conteiner .logo {
    width: 110px;
    height: 80px;
}

.footer_section .logo_conteiner:hover {
    scale: 1.2;
}

.footer_page .footer_section .fotter_column li a:hover {
    color: var(--light-bg-solid);
}

.social_links .social_fb:hover {
    color: #4889d4;
}

.social_links .social_tw:hover {
    color: var(--light-bg-solid);
}

.social_links .social_yt:hover {
    color: #d61111;
}


/* FOOTER */